body,html{height:100%}
body,html{height:100%;font:700 20px/24px " ";background:#00f}div{font-size:10;color:#a30aa3}.box1{width:20px;height:30px;font-size:40px}.box2{width:20px;height:30px;font-size:40px}
body{font-size:16px}body #box{color:red}body #pox{background:#243500;color:#fd64ec}